body {
  font-family: Arial, sans-serif;
  background-color: #d7e6d2;
  color: #070707;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.image {
  width: 100px;
  height: auto;
}
h1 {
  margin-top: 5px;
}

.container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 5px 12px 12px rgb(3, 3, 3);
  text-align: center;
  width: 300px;
}

input[type="text"] {
  width: 85%;
  padding: 15px;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 15px;
  border-width: 5px;
}

.options {
  text-align: left;
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 8px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 18px;
  background-color: #4a968f;
  color: rgb(253, 253, 253);
  border-radius: 10px;
  border-color: rgb(3, 8, 8);
  cursor: pointer;
}

button:hover {
  background-color: #3e464e;
}
